@using Attendance_Portal.ViewModels;
@model IEnumerable<AttendanceRecord>
<div class="col-md-12 table-responsive m-0">
    <table class="table table-bordered table-sm">
        <thead>
            <tr class="table-light">

                @*<th>
                    Student Code
                </th>*@
                <th>
                    Student Name
                </th>
                @*<th>
                    Class Roll
                </th>*@
                <th>
                    Present
                </th>
                <th>
                    Abesnt
                </th>
                <th>
                    Late
                </th>
                <th>
                    Total Class
                </th>
                <th>
                    Percentage
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    @*<td>@obj.StudentCode</td>*@
                    <td>@obj.StudentName <span class="badge rounded-pill bg-info">@obj.StudentCode</span></td>
                    @*<td>@obj.ClassRoll</td>*@
                    <td>@obj.Present</td>
                    <td>@obj.Absent</td>
                    <td>@obj.Late</td>
                    <td>@obj.TotalClass</td>
                    <td>@obj.Percentage%</td>
                    <td>
                        <a class="text-center text-success" target=”_blank” href="https://web.whatsapp.com/send?phone={@obj.ParentsNumber}&text=Good Morning/Afternoon sir out of @obj.TotalClass your ward @obj.StudentName attained @obj.Present classes"><i class="bi bi-whatsapp"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>