@using Attendance_Portal.ViewModels;
@model IEnumerable<StudentList>
<div class="col-md-12 table-responsive m-0">
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                @*<th>
                Student Code
                </th>*@
                <th>
                    Student Name
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    @*<td>@obj.StudentCode</td>*@
                    <td>
                        @obj.StudentName <span class="badge rounded-pill bg-info">@obj.StudentCode</span>
                    </td>
                    <td>
                        @*<div class="form-check form-check-inline">
                    <input class="form-check-input AttendanceCode" type="radio" name="radiocheck+@obj.StudentCode" value="1" checked>
                    <label class="form-check-label">Present</label>
                    </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input AttendanceCode" type="radio" name="radiocheck+@obj.StudentCode" value="2">
                    <label class="form-check-label">Absent</label>
                    </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input AttendanceCode" type="radio" name="radiocheck+@obj.StudentCode" value="3">
                    <label class="form-check-label">Late</label>
                    </div>*@
                        @if (obj.CurrentAttendanceCode == null)
                        {
                            <div class="row">
                                <div class="col-4">
                                    <button class="btn btn-primary btn-sm AttedanceAction" onclick="MarkAttendace(@obj.StudentCode,1)">Present</button>

                                </div>
                                <div class="col-4">
                                    <button class="btn btn-danger  btn-sm AttedanceAction" onclick="MarkAttendace(@obj.StudentCode,0)">Absent</button>

                                </div>
                                <div class="col-4">
                                    <button class="btn btn-warning btn-sm AttedanceAction" onclick="MarkAttendace(@obj.StudentCode,2)">Late</button>

                                </div>
                                <div class="col-12">
                                    <input type="text" placeholder="Remark" class="form-control m-1" />

                                </div>
                            </div>
                        }
                        else
                        {
                            if (obj.CurrentAttendanceCode == "1")
                            {
                                <div class="alert alert-primary" role="alert">
                                    Present
                                </div>
                            }
                            else if (obj.CurrentAttendanceCode == "2")
                            {
                                <div class="alert alert-warning" role="alert">
                                    Late
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger" role="alert">
                                    Absent
                                </div>
                            }
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
